<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/_header', { title: 'About Us - WEBD6201 Demo' }) %>
    <link rel='stylesheet' href='/stylesheets/app.css' />
  </head>
  <body>

<main>
  
          <p>
            My name is Ben Walsh, and I am finishing off my second semester at Durham College. I enjoy making music, games, and smoothies.
          </p>
        </div>
      </div>
    </div>
  </main>
</body>
</html>
<%- include('partials/_footer') %>