<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/_header', { title: 'Projects - WEBD6201 Demo' }) %>
    <link rel='stylesheet' href='/stylesheets/app.css' />
  </head>
  <body>
<div class="container">
    <header class="mt-5">
      <h1 id="welcome">
        WEBD 6201 Projects Page
        <i class="fa-solid fa-bars-progress"></i>
        <h2 id="displayEvent" class="border"></h2>
      </h1>
    </header>
  </div>
  <main>
  
  </main>
  
  <div class="container">
    <div class="mb-3">
      <label for="disabledTextInput" class="form-label" id="userDisplay"></label>
    </div>
    <div class="mb-3">
      <label for="disabledTextInput" class="form-label" id="passDisplay"></label>
    </div>
  </div>
  <%- include('partials/_footer.ejs') %>
