<!doctype html>
<html lang="en">

<head>
    <%- include('partials/_header', { title: 'Services - WEBD6201 Demo' }) %>
    <link rel='stylesheet' href='/stylesheets/app.css' />
</head>
<h1 id="welcome">
  WEBD 6201 Services Page
  <i class="fa-solid fa-bars-progress"></i>
  <h2 id="displayEvent" class="border"></h2>
</h1>
<body>
<main>
   
  </main>
  <%- include('partials/_footer.ejs') %>
